@import url("https://fonts.google.com/betterspecimen/Dosis/tester");
@font-face {
  font-family: myfont;
  src: url("dosis-variablefont_wght-webfont.woff2") format("woff2"),
    url("dosis-variablefont_wght-webfont.woff") format("woff"),
    url("dosis-variablefont_wght-webfont.ttf"),
    url("dosis-variablefont_wght-webfont.svg#dosis-variablefont_wght")
      format("svg"),
    url("dosis-variablefont_wght-webfont.eot"),
    url("dosis-variablefont_wght-webfont.eot?#iefix")
      format("embedded-opentype");
}

:root {
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: myfont, Dosis;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}
.avaSty {
  display: inline-table;
  margin-left: 2.5rem;
}
.profile_size {
  width: 25px;
  height: 25px;
}
.profile_pic {
  border-radius: 50%;
}
header {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    padding: 0rem 2%;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2.5rem;
  }
  .logo {
    height: 6rem;
  }
  
  .icons div:hover {
    animation: spinAround 2s infinite;
    color: #e07b07;
  }
  
  #menu-btn {
    display: none;
  }
  
  .search-form {
    position: absolute;
    top: 15%;
    right: 8.5%;
    background: #fff;
    width: 40rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .search-form.active {
    transform: scaleY(1);
  }
  
  .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: #000000;
    padding: 1rem;
    text-transform: none;
  }
  
  .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
  }
  .search-form :hover {
    color: #e07b07;
  }
  
  @keyframes spinAround {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-20deg);
    }
    60% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .cart-item-container {
    position: absolute;
    top: 14%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #000000;
    padding: 0 1.5rem;
    z-index: 1000;
    color: #fff;
    border: 3px solid #e07b07;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .cart-item-container.active {
    right: 1%;
  }
  .cart-item-container h1 {
    margin-top: 5px;
    padding-left: 35%;
    font-size: 4rem;
  }
  .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    gap: 1.5rem;
  }
  .cart-item img {
    width: 7rem;
  }
  
  .cart-item-container .cart-item .content h3 {
    font-size: 2rem;
    font-weight: 100;
    color: white;
    padding: 0.5rem;
  }
  .cart-item-container .cart-item .content .price {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.5rem;
  }
  .cart-item-container .cart-item .content .price:hover {
    color: #e07b07;
  }
  .cart-item-container .cart-item .content h3:hover {
    color: #e07b07;
  }
  .cart-item .cart-item-container {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .cart-item-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
  }
  .cart-item-container .cart-item .fa-times:hover {
    color: #e07b07;
  }
  
  .check {
    appearance: none;
    background-color: #e07b07;
    border: 2px solid #e07b07;
    border-radius: 15px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: myfont, Dosis;
    font-size: 20px;
    font-weight: 600;
  
    margin: 0;
    min-height: 30px;
    min-width: 10px;
    outline: none;
    /* padding: 16px 24px; */
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    align-items: center;
    /* will-change: transform; */
  }
  
  .chcek:disabled {
    pointer-events: none;
  }
  
  .check:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .check:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .navbar {
    margin: 0 1rem;
    font-size: 1.6rem;
    font-size: medium;
    font-family: myfont, Dosis;
    color: rgb(255, 255, 255);
    font-weight: lighter;
  }
  button {
    text-align: center;
    justify-content: center;
  }
  a {
    text-decoration: none;
    font-family: myfont, Dosis;
    color: #e07b07;
  }
  a:hover {
    color: white;
  }
  
  .raise {
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 2px;
    float: right;
    line-height: 40px;
    transition: all 0.3s;
    border-radius: 20%;
  }
  .raise:hover {
    transform: translatey(-0.2rem);
    border: 2px solid #000000;
    color: #e07b07;
    box-shadow: 0 4px 4px -2px #e07b07;
  }
  
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    font-family: myfont, Dosis;
    color: #e07b07;
    background-color: #000000;
    font-size: small;
    /* border-top: 1px solid #e07b07; */
  }
  
  .footer > * {
    flex: 1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
    text-align: center;
    align-self: center;
    align-content: center;
  }
  
  .footer__logo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
    text-align: center;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
  
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  *,
*:before,
*:after {
  box-sizing: border-box;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .nav__item--extra {
      flex-grow: 2;
    }
  
    .footer__addr {
      flex: 1 0px;
      align-items: center;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  }

  ul {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    justify-items: center;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
  }
  
  li p {
    margin-top: -2px;
  }
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  .logo1 {
    margin-top: 12px;
    margin-left: 10px;
    height: 80px;
  }