@import url("https://fonts.google.com/betterspecimen/Dosis/tester");
@font-face {
  font-family: myfont;
  src: url("dosis-variablefont_wght-webfont.woff2") format("woff2"),
    url("dosis-variablefont_wght-webfont.woff") format("woff"),
    url("dosis-variablefont_wght-webfont.ttf"),
    url("dosis-variablefont_wght-webfont.svg#dosis-variablefont_wght")
      format("svg"),
    url("dosis-variablefont_wght-webfont.eot"),
    url("dosis-variablefont_wght-webfont.eot?#iefix")
      format("embedded-opentype");
}

:root {
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}


*{
  font-family: myfont, Dosis;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;

}




.profile_size {
  width: 35px;
  height: 35px;
}
.profile_pic {
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 15px;
}
header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  padding: 0.5rem 2%;
  left: 0; top: 0; right: 0;
  z-index: 1000;
}
.icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2.5rem;
}
.logo {
  height: 6rem;
}

.icons div:hover {
  animation: spinAround 2s infinite;
  color: #e07b07;
}

#menu-btn{
  display: none;
}

.search-form{
  position: absolute;
  top: 15%; right: 8.5%;
  background: #fff;
  width: 40rem;
  height: 4rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #000000;
  padding: 1rem;
  text-transform: none;

}

.search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;

}
.search-form :hover{
  color: #e07b07;
}

@keyframes spinAround {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.navbar {
  margin: 0 1rem;
  font-size: 1.6rem;
  display: flex;
  font-size: medium;
  font-family: myfont, Dosis;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}
button {
  text-align: center;
  justify-content: center;
  
}
a {
  text-decoration: none;
  font-family: myfont, Dosis;
  color: #e07b07;
}
a:hover {
  color: white;
}

.raise {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 2px;
  float: right;
  line-height: 40px;
  transition: all 0.3s;
  border-radius: 20%;

}
.raise:hover {
  transform: translatey(-0.2rem);
  border: 2px solid #000000;
  color: #e07b07;
  box-shadow: 0 4px 4px -2px #e07b07;
}

body {
  margin: 0%;
  padding: 0%;
  justify-content: center;
  height: 99vh;
  background-color: #000000;
}
.mainimage {
  margin-left: 150px;
}
.picture {
  height: 110vh;
  transform: rotate(90deg);
  margin-left: 720px;
  margin-top: -200px;
  border-radius: 50px;
  animation: air 50s infinite;
}
@keyframes air {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(91deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(89deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sidewrite {
  color: #e07b07;
  font-family: myfont, Dosis;
  margin-left: 45px;
  font-size: 50px;
  max-width: 50vw;
}
.discrip {
  margin-top: -45px;
  font-size: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 500px;
}
.orderbutton {
  appearance: none;
  background-color: #e07b07;
  border: 2px solid #e07b07;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  /* display: inline-block; */
  font-family: myfont, Dosis;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  /* padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  /* will-change: transform; */
}

.orderbutton:disabled {
  pointer-events: none;
}

.orderbutton:hover {
  background-color: #000000;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.orderbutton:active {
  box-shadow: none;
  transform: translateY(0);
}
.first {
  position: relative;
  height: 72vh;
  margin-bottom: 15px;
}
.second {
  margin: 50px;
  display: grid;
  place-items: top;
  margin: 0%;
  padding: 0%;
  border-radius: 50x;
  justify-content: center;
  height: 100vh;
  background-color: #e07b07;
  color: #ffffff;
  font-weight: bolder;
  z-index: 90;
  font-family: myfont, Dosis;
  font-size: 40px;
  margin-top: -265px;
}

.third {
  margin-top: -30px;
  position: absolute;
}

.column {
  float: left;
  width: 20%;
  padding: 0 150px;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin-top: -400px;
  font-family: myfont, Dosis;
  margin-left: -50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.tilt-box-wrap {
  width: 250px;
  height: 150px;
  position: relative;
  transition: all 0.6s ease-out;
  margin-top: -180px;
}
.tilt-box-wrap:hover {
  transition: all 0.3s linear;
  transform: scale(1.1);
}
.tilt-box {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0); /* this adds the "card" effect */
  text-align: center;
  background-color: white;
  height: 350px;
  border-radius: 20px;

  font-size: 20px;
  font: weight 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  transition: all 0.6s ease-out;
  transform: rotateX(0deg) rotateY(0deg);
  perspective: 1000px;
  transform-style: preserve-3d;
}
.tilt-box strong {
  transform: translateZ(20px);
}
.t_over {
  width: 33.333%;
  height: 33.333%;
  position: absolute;
  z-index: 1;
}

.t_over:nth-child(1) {
  left: 0;
  top: 0;
}
.t_over:nth-child(2) {
  left: 33.333%;
  top: 0;
}
.t_over:nth-child(3) {
  left: 66.666%;
  top: 0;
}
.t_over:nth-child(4) {
  left: 0;
  top: 33.333%;
}
.t_over:nth-child(5) {
  left: 33.333%;
  top: 33.333%;
}
.t_over:nth-child(6) {
  left: 66.666%;
  top: 33.333%;
}
.t_over:nth-child(7) {
  left: 0;
  top: 66.666%;
}
.t_over:nth-child(8) {
  left: 33.333%;
  top: 66.666%;
}
.t_over:nth-child(9) {
  left: 66.666%;
  top: 66.666%;
}
.t_over:nth-child(1):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(20deg);
}
.t_over:nth-child(2):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(0deg);
}
.t_over:nth-child(3):hover ~ .tilt-box {
  transform: rotateX(-20deg) rotateY(-20deg);
}
.t_over:nth-child(4):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(20deg);
}
.t_over:nth-child(5):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(0deg);
}
.t_over:nth-child(6):hover ~ .tilt-box {
  transform: rotateX(0deg) rotateY(-20deg);
}
.t_over:nth-child(7):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(20deg);
}
.t_over:nth-child(8):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(0deg);
}
.t_over:nth-child(9):hover ~ .tilt-box {
  transform: rotateX(20deg) rotateY(-20deg);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  font-family: myfont, Dosis;
  color: #e07b07;
  background-color: #000000;
  /* border-top: 1px solid #e07b07; */
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
  text-align: center;
  align-self: center;
  align-content: center;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
  text-align: center;
  align-self: center;
  align-content: center;
  margin-left: 585px;
}

.footer a {
  text-decoration: none;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

/* waves */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  background-image: url("./waves.svg");
}

/* waves */

.spacer1 {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./wave1.svg");
}

/* waves */

.spacer11 {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer11 {
  background-image: url("./wavew.svg");
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
    align-items: center;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}
li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

li p {
  margin-top: -2px;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.logo1 {
  margin-top: 12px;
  margin-left: 10px;
  height: 80px;
}
